server:
  port: 9000

spring:
  data:
    mongodb:
      uri: ${APPEALS_API_MONGODB_URL}

chips:
  enabled: ${CHIPS_FEATURE_ENABLED}
  restservice:
    url: ${CHIPS_REST_SERVICE_URL}

companyNumber:
  prefixes: ${ALLOWED_COMPANY_PREFIXES}

chs:
  kafka:
    api:
      url: ${KAFKA_API_URL:https://kafka-api.cidev.aws.chdev.org}
  api:
    key: ${CHS_API_KEY}

management:
  endpoints:
    enabled-by-default: false
    web:
      base-path: /lfp-appeals-api
      path-mapping:
        health: healthcheck
  endpoint:
    health:
      show-details: never
      enabled: true
